# Eclipse Project Files #
.classpath
.project
.settings

# Node
src/main/frontend/node_modules
bundle.js
npm-debug.log

# Build Files #
bin
target
build/
.gradle

# MRT log file
logging.log*
output.txt

# MRT test data directories
src/test/resources/extract
src/test/resources/failed
src/test/resources/generated
src/test/resources/passed

# MRT custom plugin directory
src/main/resources/template/custom